.home {
    padding: 2rem;
  }
  
  .home__title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .home__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  
  /* MovieCard.css */
  .movie-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .movie-card__info {
    padding: 1rem;
  }
  
  .movie-card__title {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .movie-card__year {
    color: #555;
  }
  
  .movie-card__link {
    display: inline-block;
    margin-top: 0.5rem;
    color: #ffffff;
    text-decoration: none;
  }

  .movie-card__poster {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  movie-card__year, .movie-card__director {
    font-size: 0.9rem;
    color: #777;
  }
  
  .movie-card__actions {
    margin-top: 10px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px;
    background-color: #4f98f8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }


  /* En tu archivo Home.css */
.home__search input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
